<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1><%= @user.username %>, You've edited your data</h1>
    <p>If you did not do this changes, please change your password to a more secure one.</p>
  </body>
</html>
