<% if reviews.any? %>
	<div>
		<h2>Reviews: </h2>
		<table border="2">
			<thead>
				<th>Fecha</th>
        <th>Descripcion</th>
        <th>Review</th>
				<th>Author</th>
        <th>

        </th>
			</thead>
			<tbody>
				<%= render reviews %>
			</tbody>
		</table>
	</div>
<% else %>
	<p><em>No hay reviews.</em></p>
<% end %>
