<% if reviews.any? %>
	<div>
		<h2>Reviews: </h2>
		<table border ="1" class="table table-striped" style="width: 500px; text-align: center">
			<thead>
				<th>Fecha</th>
        <th>Descripcion</th>
        <th>Review</th>
				<th>Author</th>
			</thead>
			<tbody>
				<%= render reviews %>
			</tbody>
		</table>
	</div>
<% else %>
	<p style="font-size: 30px"><em>No hay reviews.</em></p>
<% end %>
