<% if categories.any? %>
	<div>
		<h2>Categories: </h2>
		<table border ="1" class="table table-striped" style="width: 500px; text-align: center">
			<thead>
				<th>ID</th>
				<th>Nombre</th>
			</thead>
			<tbody>
				<%= render categories %>
			</tbody>
		</table>
	</div>
<% else %>
	<p style="font-size: 30px"><em>No hay categories.</em></p>
<% end %>
