<div style= "padding-top: 200px; padding-bottom: 400px; align: center; background-image: url('http://www.pixelstalk.net/wp-content/uploads/2016/09/Free-All-Pokemon-Background.png'); background-repeat: no-repeat; background-position: center; ")>
  <h1 style= "position: center"><%= image_tag("Pokemon.png", size: "440x160") %></h1>
</div>
